<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Tabs Example</title>
	<script src="js/jquery-2.1.1.min.js"></script>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/index.js"></script>
  </head>

  <body>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>

	<script id="templates/tabs.html" type="text/ng-template">
	<ion-tabs class="tabs-icon-top tabs-positive">
		<ion-tab title="Home" icon="ion-home" href="#/tab/home">
		  <ion-nav-view name="home-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Settings" icon="ion-android-settings" href="#/tab/setting">
		  <ion-nav-view name="setting-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
		  <ion-nav-view name="about-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
		  <ion-nav-view name="contact-tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Home">
        <ion-content>
		<div class="app">
            <p id="bletitle" style="text-align:center; padding-top: 20px;">Choose a peripheral</p>
            <div id="mainPage">
				<button id="refreshButton" class="button button-full button-balanced">Refresh List</button>
            	<div id="jsondevicelist"></div>
                <ul id="deviceList">
                </ul>
            </div>
            <div id="detailPage">
                <div id="batteryState"></div>
					<ul class="list">
						<li class="item item-toggle">
						 P1
						 <label class="toggle toggle-balanced" id="sendButton1">
						   <input type="checkbox" id="checkbox1">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						 </label>
						</li>
						<div class="range range-calm">
							<i class="icon ion-ios-bolt-outline"></i>
							<input id="range1" type="range" name="volume" min="1" max="5" step="1"  ng-model="data.pickup1" value="{{data.pickup1}}">
							<i class="icon ion-ios-bolt"></i>
						</div>
						<div class="range range-calm">
							{{data.pickup1}}
        				</div>
						<li class="item item-toggle">
						 P2
						 <label class="toggle toggle-balanced" id="sendButton2">
						   <input type="checkbox" id="checkbox2">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						 </label>
					  	</li>
						<div class="range range-calm">
							<i class="icon ion-ios-bolt-outline"></i>
							<input id="range2" type="range" name="volume" min="1" max="5" step="1"  ng-model="data.pickup2" value="{{data.pickup2}}">
							<i class="icon ion-ios-bolt"></i>
						</div>
						<li class="item item-toggle">
						 P3
						 <label class="toggle toggle-balanced" id="sendButton3">
						   <input type="checkbox" id="checkbox3">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						 </label>
					  	</li>
						<div class="range range-calm">
							<i class="icon ion-ios-bolt-outline"></i>
							<input id="range3" type="range" name="volume" min="1" max="5" step="1"  ng-model="data.pickup3" value="{{data.pickup3}}">
							<i class="icon ion-ios-bolt"></i>
						</div>
						<li class="item item-toggle">
						 P4
						 <label class="toggle toggle-balanced" id="sendButton4">
						   <input type="checkbox" id="checkbox4">
						   <div class="track">
							 <div class="handle"></div>
						   </div>
						 </label>
					  	</li>
						<div class="range range-calm">
							<i class="icon ion-ios-bolt-outline"></i>
							<input id="range4" type="range" name="volume" min="1" max="5" step="1"  ng-model="data.pickup4" value="{{data.pickup4}}">
							<i class="icon ion-ios-bolt"></i>
						</div>
						
						
					</ul>
				<button id="disconnectButton" class="button button-full button-assertive"></button>
            </div>
        </div>
		</ion-content>
      </ion-view>
    </script>

    <script id="templates/facts.html" type="text/ng-template">
      <ion-view view-title="Facts">
        <ion-content>
     	</ion-content>
      </ion-view>
    </script>

    <script id="templates/facts2.html" type="text/ng-template">
      <ion-view view-title="Also Factual">
        <ion-content class="padding">
        </ion-content>
      </ion-view>
    </script>

	<script id="templates/setting.html" type="text/ng-template">
      <ion-view view-title="Settings">
        <ion-content>
			<ul class="list">
				<li><a href="#/tab/schedule" class="item item-icon-right">Schedule</a></li>
			</ul>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="templates/schedule.html" type="text/ng-template">
      <ion-view view-title="Schedule">
        <ion-content>
		<div class="bar bar-header">
		  <h1 class="title">Add Schedule</h1>
		</div>
		<div class="row  bar bar-subheader">
		<div class="col-75" >
			<label class="item-input">
			<input type="text" placeholder="Schedule Name">
			</label>
  		</div>
		<div>
			<button class="button button-small button-positive button-clear" >
  				ADD
			</button>
  		</div>
		</div>
		
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/about.html" type="text/ng-template">
      <ion-view view-title="About">
        <ion-content class="padding">
          <h3>Create hybrid mobile apps with the web technologies you love.</h3>
          <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
          <p>Built with Sass and optimized for AngularJS.</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/nav-stack.html" type="text/ng-template">
      <ion-view view-title="Tab Nav Stack">
        <ion-content class="padding">
          <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/contact.html" type="text/ng-template">
      <ion-view title="Contact">
        <ion-content>
          <div class="list">
            <div class="item">
              @IonicFramework
            </div>
            <div class="item">
              @DriftyTeam
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

</body>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
</html>